<!DOCTYPE html>
<html lang='en' data-theme='auto'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>RPIEasy</title>
    <link rel='stylesheet' href='/static/css/style.css'>
    <link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍓</text></svg>'>
</head>
<body class='bodymenu'>
    <span class='message' id='rbtmsg'></span>
    <header class='headermenu'>
        <h1>RPIEasy: {{ config.system.name if config and config.system else "RPIEasy" }}</h1>
        <BR>
        <div class='menubar'>
            <a class='menu{{ " active" if active_page == "main" }}' href='/'>&#8962;<span class='showmenulabel'>Main</span></a>
            <a class='menu{{ " active" if active_page == "config" }}' href='/config'>&#9881;<span class='showmenulabel'>Config</span></a>
            <a class='menu{{ " active" if active_page == "controllers" }}' href='/controllers'>&#128172;<span class='showmenulabel'>Controllers</span></a>
            <a class='menu{{ " active" if active_page == "hardware" }}' href='/hardware'>&#128204;<span class='showmenulabel'>Hardware</span></a>
            <a class='menu{{ " active" if active_page == "devices" }}' href='/devices'>&#128268;<span class='showmenulabel'>Devices</span></a>
            <a class='menu{{ " active" if active_page == "rules" }}' href='/rules'>&#10740;<span class='showmenulabel'>Rules</span></a>
            <a class='menu{{ " active" if active_page == "notifications" }}' href='/notifications'>&#9993;<span class='showmenulabel'>Notifications</span></a>
            <a class='menu{{ " active" if active_page == "tools" }}' href='/tools'>&#128295;<span class='showmenulabel'>Tools</span></a>
        </div>
    </header>
    <section>
        {% block content %}{% endblock %}
    </section>
    <footer>
        <span>Bitekmindenhol</span>
        <span>Designed by Let's Control It community</span>
    </footer>
</body>
</html>
